[submodule "DSDL"]
	path = DSDL
	url = https://github.com/dronecan/DSDL.git
[submodule "libuavcan"]
	path = libuavcan
	url = https://github.com/dronecan/libuavcan.git
[submodule "libcanard"]
	path = libcanard
	url = https://github.com/dronecan/libcanard.git
